body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

html,
body {
  margin: 0;
  padding: 5;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#map {
  width: 100%;
  height: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#map svg {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 1;
}

circle {
  pointer-events: auto;
}

header {
  display: flex;
  align-items: baseline;
  gap: 1em;
}

label {
  margin-left: auto;
}

time,
em {
  display: block;
}

em {
  color: gray;
  font-style: italic;
}

circle {
  pointer-events: auto;
}

circle {
  --color-departures: steelblue;
  --color-arrivals: darkorange;
  --color: color-mix(in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
  fill: var(--color);
}


.legend {
  display: flex;
  gap: 1px;
  margin-block: 1rem;
  font-size: 0.85rem;
}

.legend {
  z-index: 2;
  position: relative;
}


.legend > div {
  flex: 1;
  text-align: center;
  padding: 4px;
  color: white;
  background: color-mix(in oklch,
    var(--color-departures) calc(100% * var(--departure-ratio)),
    var(--color-arrivals)
  );
}




